<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weblab.system.mapper.AdminMapper">

    <resultMap id="LoginVo" type="com.weblab.system.entity.vo.LoginUserVo">
        <result column="name" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <resultMap id="Users" type="com.weblab.system.entity.Users">
        <result property="userName" column="user_name"/>
        <result property="realName" column="real_name"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="ifJudges" column="if_judges"/>
        <result property="groupId" column="group_id"/>
    </resultMap>

    <select id="adLogin" resultMap="LoginVo">
        select name,password from admin where name =#{username} and password = #{password}
    </select>

    <select id="getUsers" resultMap="Users">
        select * from users
    </select>

    <select id="getUserByName" resultMap="Users">
        select * from users where user_name = #{userName}
    </select>

    <update id="resetUserPassword">
        update users set password = #{username} where user_name = #{username}
    </update>
</mapper>
